# Data Source: GeoDist: The CEPII's distances and geographical database
Bilateral distances between the largest cities of those two countries (in terms
of population)

In [17]:
import pandas as pd
import pickle
import numpy as np

In [7]:
dis_df = pd.read_stata('../dist_cepii.dta')

In [8]:
dis_df

,iso_o,iso_d,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
0,ABW,ABW,0,0,0,0,0,0,0,0,5.225315,5.225315,25.093539,23.047228
1,ABW,AFG,0,0,0,0,0,0,0,0,13257.814453,13257.814453,13168.223762,13166.366934
2,ABW,AGO,0,0,0,0,0,0,0,0,9516.913086,9516.913086,9587.315563,9584.193415
3,ABW,AIA,0,0,1,0,0,0,0,0,983.268250,983.268250,976.897355,976.891580
4,ABW,ALB,0,0,0,0,0,0,0,0,9091.742188,9091.742188,9091.575727,9091.465815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50171,ZWE,YUG,0,0,0,0,0,0,0,0,7056.401855,7056.401855,7046.432349,7042.830362
50172,ZWE,ZAF,1,1,1,0,0,0,0,0,2186.205811,926.174255,1258.552190,1101.437596
50173,ZWE,ZAR,0,0,0,0,0,0,0,0,2283.061035,2283.061035,1930.976364,1719.146688
50174,ZWE,ZMB,1,1,1,0,1,0,0,0,396.804077,396.804077,583.795373,525.073446
50175,ZWE,ZWE,0,0,0,0,0,0,0,0,235.119308,235.119308,199.820547,67.837891

In [18]:
with open('pkl/global_travel_tensor_sorted.pkl', 'rb') as f:
    travel_tensor_raw = pickle.load(f) 
    
with open('pkl/new_country_order.pkl', 'rb') as f:
    new_order = pickle.load(f)

In [35]:
country_cutline = 30 # 69, 70 give None homogeneity
travel_tensors = travel_tensor_raw[:,0:country_cutline,0:country_cutline]

travel_df = pd.read_csv('csv/global_travel_df.csv')
countries = travel_df['node'].unique().T

label_dict = dict(zip(np.char.mod('%d', range(226)), countries[new_order]))
label_dict = dict(zip(range(30), countries[new_order]))

adj_list = []
interval = 50 # 26 * 4 weeks = 2 year,
for i in range(interval):
    ajm = np.sum(travel_tensors[4*i:4 + 4*i][:,0:country_cutline,0:country_cutline], axis=0)
    adj_list.append(ajm)
travel_tensors = np.array(adj_list)

In [37]:
travel_tensors.shape

(50, 30, 30)

In [38]:
attract = np.sum(travel_tensors, 1) # attractiveness
emit = np.sum(travel_tensors, 2) # emmisiveness

In [42]:
avg_attract = np.mean(attract, 0)
avg_emit = np.mean(emit, 0)

30