In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [10]:
with open('../pkl/global_weekly_sorted_tensor2.pkl', 'rb') as f:
    travel_tensor = pickle.load(f) 

# with open('../pkl/global_serial_graphs.pkl', 'rb') as f:
#     serial_graphs = pickle.load(f)

In [11]:
with open('../pkl/new_country_order.pkl', 'rb') as f:
    new_order = pickle.load(f)

In [28]:
travel_df = pd.read_csv('../csv/global_travel_df.csv')
countries = travel_df['node'].unique().T
label_dict = dict(zip(np.char.mod('%d', range(227)), countries[new_order]))
label_dict = dict(zip(range(226), countries[new_order]))

In [30]:
adjmat = np.mean(travel_tensor, 0)[:,:226]

In [33]:
df = pd.DataFrame([[-1,-1,-1]])
for i in range(adjmat.shape[0]):
    for j in range(adjmat.shape[1]):
        if(adjmat[i,j]==0):
            continue
        else:
            a_row = pd.Series([label_dict[i], label_dict[j], adjmat[i,j]])
            row_df = pd.DataFrame([a_row])
            df = pd.concat([df, row_df])
#         df = pd.DataFrame(pd.Series(i,j,adjmat[i,j]), index=range(1),columns=['from','to','weight'])
df = df.iloc[1:,:]
df.columns = ['Source','Target','Weight']

In [34]:
df.to_csv("average_Twitter_adj.csv", index =False)

In [46]:
def crash_courses(dltr): 
    result = 0
    temp =1  
    
    for i in range(1,dltr): 
        temp = temp*i 
        for k in range(i): 
            result += temp 
    return result

In [60]:
np.array([[1, 2, 3], [4, 5, 6]]).T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [49]:
def y(x):
    global a
    a=4
    return 0

def f(a): 
    a=3
    print(a)
    return a

a=5
f(a)
print(a)
y(a)
print(a)

3
5
4

In [4]:
print(pd.date_range('2018-01-01', periods=677, freq='D')[638:669])
# pd.date_range('2016-01-04', periods=200, freq='W')[148]
# pd.date_range('2016-01-04', periods=200, freq='W')[149]

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
               '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-12',
               '2019-10-13', '2019-10-14', '2019-10-15', '2019-10-16',
               '2019-10-17', '2019-10-18', '2019-10-19', '2019-10-20',
               '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24',
               '2019-10-25', '2019-10-26', '2019-10-27', '2019-10-28',
               '2019-10-29', '2019-10-30', '2019-10-31'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# adjmat1 = travel_tensor[147][:,0:226]
# adjmat2 = travel_tensor[148][:,0:226]
# adjmat3 = travel_tensor[149][:,0:226]
# adjmat4 = travel_tensor[150][:,0:226]

In [167]:
travel_tensor[638:669,:,0:226].shape
adjmat = np.sum(travel_tensor[638:669,:,0:226], axis=0)

In [168]:
adj_df = pd.DataFrame(adjmat)
adj_df.index = countries
adj_df.columns = countries

In [169]:
adj_df.to_csv("../csv/adj_oct2019.csv")

In [50]:
adjmat = travel_tensor[145:149][:,0:226]
adjmat.shape

(4, 226, 452)

In [42]:
for i in range(130,155):
    print(np.sum(travel_tensor[i][60,:]))

2.0
14.0
28.0
27.0
25.0
19.0
18.0
14.0
14.0
11.0
16.0
22.0
19.0
25.0
18.0
32.0
29.0
35.0
13.0
25.0
43.0
24.0
49.0
35.0
44.0

In [38]:
print(travel_tensor[145][:,60][0])
print(travel_tensor[147][:,60])
print(travel_tensor[148][:,60])
print(travel_tensor[149][:,60])
print(countries[0])

4.0
[0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 2. 0. 0. 0. 1. 2. 0. 0. 0. 0. 0. 0.
 5. 0. 0. 0. 0. 0. 0. 0. 0. 4. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 0. 0. 0. 0. 2.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[3. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 2. 0. 0.
 0. 0. 1. 0. 0. 0. 0. 0. 1. 5. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
US

In [54]:
# countries = ['US', 'EC', 'DE', 'CH', 'FR', 'VE', 'CO', 'BR', 'MT', 'ID', 'JP',
#        'ZA', 'GB', 'NG', 'MX', 'CR', 'PH', 'ES', 'HK', 'HR', 'TW', 'AU',
#        'CA', 'MA', 'IT', 'TR', 'TH', 'RU', 'NZ', 'CN', 'AR', 'PY', 'NL',
#        'KW', 'nan', 'NO', 'PE', 'IN', 'SE', 'MD', 'KR', 'SA', 'CL', 'JO',
#        'MY', 'SG', 'QA', 'AZ', 'UY', 'EG', 'DO', 'TT', 'JM', 'CZ', 'IE',
#        'HU', 'VN', 'PT', 'IS', 'BE', 'AE', 'FI', 'PL', 'PR', 'AT', 'BG',
#        'CU', 'GR', 'SV', 'GT', 'DK', 'FO', 'CY', 'MC', 'AG', 'MS', 'BM',
#        'EE', 'LK', 'PK', 'PA', 'BS', 'RS', 'LV', 'AW', 'IL', 'ET', 'CD',
#        'KE', 'UA', 'GU', 'KH', 'OM', 'BZ', 'VA', 'MO', 'RO', 'UZ', 'ZW',
#        'BW', 'TZ', 'ME', 'AL', 'IR', 'TC', 'BH', 'UG', 'GH', 'SY', 'LB',
#        'AD', 'MV', 'GY', 'SK', 'LU', 'LA', 'HN', 'AF', 'HT', 'SX', 'CW',
#        'BN', 'SM', 'MM', 'GI', 'ZM', 'DZ', 'SI', 'MW', 'KY', 'SC', 'BO',
#        'RE', 'GF', 'GP', 'TN', 'NP', 'BB', 'LT', 'BT', 'BL', 'BY', 'MN',
#        'AI', 'MZ', 'BA', 'VI', 'AO', 'NI', 'SD', 'BD', 'KN', 'MQ', 'MF',
#        'GE', 'KP', 'XK', 'SN', 'MU', 'KZ', 'IQ', 'IM', 'FM', 'MH', 'NC',
#        'CI', 'KM', 'LI', 'TJ', 'RW', 'GD', 'LR', 'LC', 'MK', 'KG', 'CM',
#        'PF', 'AM', 'VG', 'BJ', 'MG', 'AX', 'TD', 'AQ', 'BF', 'AS', 'WS',
#        'SZ', 'SL', 'GL', 'LS', 'NE', 'GW', 'ML', 'LY', 'TM', 'PG', 'CF',
#        'YE', 'MP', 'ER', 'GA', 'CG', 'JE', 'CV', 'GQ', 'BQ', 'TG', 'TL',
#        'VC', 'TO', 'DJ', 'SB', 'SO', 'MR', 'SR', 'GM', 'DM', 'ST', 'GN',
#        'BI', 'VU', 'YT', 'NU', 'FK', 'PW']

In [20]:
adj_df = pd.DataFrame(adjmat3)
adj_df.index = countries
adj_df.columns = countries

In [21]:
adj_df.to_csv('../gephi/adj_mat2018-11-18.csv')

In [13]:
df = pd.DataFrame([[-1,-1,-1]])
for i in range(adjmat.shape[0]):
    for j in range(adjmat.shape[1]):
        if(adj_df.iloc[i,j]==0):
            continue
        if(countries[i] != 'nan' and countries[j] != 'nan'):
            a_row = pd.Series([countries[i], countries[j], adj_df.iloc[i,j]])
            row_df = pd.DataFrame([a_row])
            df = pd.concat([df, row_df])
#         df = pd.DataFrame(pd.Series(i,j,adjmat[i,j]), index=range(1),columns=['from','to','weight'])

NameError: name 'countries' is not defined

In [57]:
df

     0   1     2
0   -1  -1  -1.0
0   US  DE   9.0
0   US  FR  12.0
0   US  BR   8.0
0   US  ID   2.0
..  ..  ..   ...
0   HN  US   1.0
0   BN  ID   2.0
0   SI  AT   1.0
0   MU  AE   1.0
0   PF  US   2.0

[208 rows x 3 columns]

In [59]:
gephi_df=df.iloc[1:,]
# len(np.unique(np.array(gephi_df[[0,1]])))
gephi_df

     0   1     2
0   US  DE   9.0
0   US  FR  12.0
0   US  BR   8.0
0   US  ID   2.0
0   US  JP   3.0
..  ..  ..   ...
0   HN  US   1.0
0   BN  ID   2.0
0   SI  AT   1.0
0   MU  AE   1.0
0   PF  US   2.0

[207 rows x 3 columns]

In [ ]:
gephi_df

In [37]:
# df.to_csv('test.txt', sep=" ", index=False)
gephi_df.to_csv('gephi_test.csv', index=False)